@import "../../App.scss";

.sc-category{
    @media screen and (min-width: 420px){
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    @media screen and (min-width: 576px){
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 992px){
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1080px){
        grid-template-columns: repeat(5, 1fr);
    }



    


}